body {
  margin: unset;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#magic {
  border: unset;
  font-size: 5vh;
  margin-bottom: 20px;
  transition-duration: 2s;
}

#magic:hover {
  background-color:  rgba(0, 0, 0, 1);
  cursor: pointer;
  transition-duration: 1s;
}

#magic:focus {
  outline: none;
}

#text {
  font-family: 'Architects Daughter', cursive;
  font-size: 10vh;
  animation: blink 1s forwards infinite;
}

@keyframes blink {
  0% {
    background-color: rgba(0, 0, 0, 0.3);
  }

  50% {
    background-color: black;
  }

  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }

}

.theme {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  
  font-family: 'Architects Daughter', cursive;
  font-weight: bolder;

  border-radius: 20px;
  margin: unset;
}

.padding {
  padding: 10px 25px;
}